.githubProjectContent {

  .title {

    text-align: center;

    em {
      font-weight: 600;
      font-style: normal;
    }

    a, em, a:focus, em:focus  {
      font-weight: 600;
      color: black;
      transition: 0.2s;
      font-style: normal;
    }

    a:hover, em:hover {
      color: cornflowerblue;
    }

    a:active, em:active {
      color: #4a76c4;
    }

  }

  width: 90%;
  max-width: 1200px;
  margin: auto;

  .projectBox {

    display: flex;
    flex-direction: column;

    div{
      transition: 0.3s ease;

      &:hover {
        background-color: lightblue;
      }

      &:active {
        background-color: #548695;
      }
    }

    div:nth-child(2n) {
      &:hover {
        background-color: #45a5c4;
      }

      &:active {
        background-color: #216a82;
      }
    }
  }

  .showButtons {

    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 10px auto;

    button {

      flex-grow: 1;

      padding: 10px;
      margin: 5px 0;

      border: 0.16em solid #000000;
      border-radius: 3px;
      text-decoration: none;
      text-transform: uppercase;

      font-family: "Nunito", sans-serif;
      font-weight: 400;

      color: #000000;
      text-align: center;
      transition: all 0.15s;

      background-color: #dff2ff;

      &:hover {
        color: #2b2b2b;
        border-color: #454545;
        background-color: #65a2c6;
      }

      &:active {
        color: #000000;
        border-color: #BBBBBB;
        background-color: #468bb3;
      }

    }

    button:first-of-type {
      margin-right: 5px;
    }

    button:last-of-type {
      margin-left: 5px;
    }

    button:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}