.certificate {

  grid-template-areas:
    "logo header certificateDetail"
    "certificateCoursesSide certificateCoursesContent certificateCoursesContent"
  ;

  a { grid-area: logo; }
  .certificateHeader { grid-area: header; }
  .certificateDetail { grid-area: certificateDetail; }

  .certificateCoursesSide { grid-area: certificateCoursesSide; }
  .certificateCoursesContent { grid-area: certificateCoursesContent; }

}