.educationSummaryContainer {

  width: 80%;
  max-width: 800px;

  margin: auto;

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  a, a:hover, a:active, a:focus {
    color:unset;
    text-decoration: none;
    font-weight: 600;

    transition: 0.2s;
  }

  a:hover {
    color: #4299b6;
  }

  a, em, a:focus  {
    font-weight: 600;
    color: black;
    transition: 0.2s;
    font-style: normal;
  }

  h1, h2, h3 {
    border-bottom: 1px solid black;
  }

  h1 {
    font-size: 28pt;
    width: 90%;
  }

  h2, h3 {
    width: max-content;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  a, a h3 {
    margin: 0;
    padding: 0;
    width: max-content;
    font-size: 12pt;
  }
}