.me {

  flex-grow: 1;
  font-family: "Montserrat", sans-serif;

  h1 {
    text-align: center;
    color: black;
    margin-top: 3%;
  }

  em {
    font-weight: 600;
    font-style: normal;
  }

  a, em, a:focus, em:focus  {
    font-weight: 600;
    color: black;
    transition: 0.2s;
    font-style: normal;
  }

  a:hover, em:hover {
    color: cornflowerblue;
  }

  a:active, em:active {
    color: #4a76c4;
  }

  // * { color: #d9d9d9; }

  a:hover {
    color: #4299b6;
  }

  .main {

    width: 90%;
    margin: 10% auto auto auto;

    display: flex;
    flex-direction: row;

    p {
      font-size: 14pt;
      margin-top: 35px;
      text-align: center;
    }    

    .headshot {

      flex: 3 1 0;
      text-align: center;

      img {

        max-width: 400px;
        max-height: 100%;
        
        border: 2px solid #4c4c4c;
        border-radius: 50%;
  
        margin: auto;
        
      }
    }

    .desc {
      
      flex: 4 1 0;
      padding: 30px;
    
      .links {

        div {
          
          height: 100px;

          margin: auto;
          width: max-content;

          a {

            display: inline-block;

            margin: auto 15px;                    
            transition: 0.2s;

            img {
              max-height: 64px;
              filter: grayscale(100%);
            }

            &:last-of-type img {
              max-height: 48px;
            }
          }
        }
      }
    }
  }
}
