.github_project {

  width: 100%;

  margin: 10px auto;

  border: 2px solid black;
  border-radius: 3px;

  &:hover {
    background-color: darkgray;
  }

  a {
    display: flex;
    flex-direction: row;

    padding: 10px;

    color: black;
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0;
    width: max-content;

    flex-grow: 0;
  }

  .name {

    min-width: 25%;
    width: 25%;
    max-width: 25%;

    white-space: nowrap;
    overflow: hidden;
    text-wrap: avoid;
    text-overflow: ellipsis;
  }

  .desc {
    font-weight: 300;
    flex-grow: 1;

    white-space: nowrap;
    overflow: hidden;
    text-wrap: avoid;
    text-overflow: ellipsis;
  }

  .extra {

    max-width: 20%;
    width: 20%;
    min-width: 20%;

    margin-left: 15px;
    display: flex;
    flex-direction: row;

    img {
      height: 16px;
      margin: auto 5px;
    }

    .language {
      width: min-content;
      text-transform: lowercase;

      border-bottom: 2px solid;
    }

    .clock_icon {
      margin-left: auto;
    }

    .updated {
      margin-left: 5px;
    }

    .stars {
      margin-left: 5px;
    }
  }
}