nav {

  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .link {

    border: 3px solid #212121;
    border-radius: 1px;

    margin: 10px;
    padding: 5px 10px;
  }

  .Me.active {
    display: none;
  }

  .active {
    background-color: lightblue;
  }
}