.footer {

  text-align: center;

  width: auto;

  display: flex;
  flex-direction: row;

  margin-top: 60px;
  height: 60px;

  font-family: "Montserrat", sans-serif;

  * {
    flex: 1 1 0;
    height: max-content;
    margin: auto;
  }

  img {

    cursor: pointer;
    border: 2px solid #4D4D4D;
    border-radius: 50%;
    height: 32px;
    margin: 10px auto 5px auto;
  }


  outline: 1px solid black;

  transition: 0.2s;

  .section {
    text-transform: capitalize;
  }

  &.me {
    opacity: 0;
  }

  &.projects {
    background-color: #4682a3;
  }

  &.education {
    background-color: #26aa8b;
  }

}